
#consider
{
  display: flex;
  flex-direction: column;
  
}
#header
{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  height: 60px;
}
.header_box1 {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
}

.trandemark {
  background-color:#00ffea;         
  padding: 15px 20px;               
  display: inline-block;
  border-radius: 10px 0 0 0;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  border: 4px solid #ffffff;   
  border-radius: 40px;       
  padding: 2px 6px;        
  color: #ffffff;             
  font-size: 15px;         
  font-weight: bold;         
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  height: 20px;
  box-shadow: 0 2px 0 #d6f0fa
}
.name a{
  color: white;
  text-decoration: none;
}
.header_box2
{
  flex: 10;
  display: flex;
}
.explore
{
  position: relative;
  margin: 50px;
  font-size: 18px;
  font-weight: bold;
}
.explore::before
{
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: -25px;
  top: 0;
  background-image: url('explore.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.explore a{
  color: #00ffea;
  text-decoration: none;
}
.shop
{
  position: relative;
  margin: 50px 30px 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: #484848;
}
.shop::before
{
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: -25px;
  top: 0;
  background-image: url('shop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.shop a{
  color: #00ffea;
  text-decoration: none;
}
.support
{
  position: relative;
  margin: 50px 30px 0 20px;
  font-size: 18px;
  font-weight: bold;
  color: #484848;
}
.support::before
{
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: -25px;
  top: 0;
  background-image: url('support.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.support a{
  color: #00ffea;
  text-decoration: none;
}
.icon
{
  display: flex;
  gap: 25px;
}

.search
{
  display: flex;
  position: relative;
  background-color: #efefef;
  width: 85px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  
  color: #484848;
  padding: 0 10px 0 0;
  align-items: center;
  justify-content: right;
  border-radius: 20px;
}
.search::before
{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 5px;
  background-image: url('magnifying-glass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.search a{
  color: #434242;
  text-decoration: none;
}
.heart img {
  width: 20px;
  height: 20px;
  
}
.shopcart img
{
  height: 20px;
  width: 20px;
}
.search a:hover,.heart img:hover,.shopcart:hover
{
  color: #00ffea;
}
.login
{
  position:relative ;
  width: 160px;
  height: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  border-radius: 20px;
  border: 2px solid #00ffea ;
  color: #00ffea;
}
.login::before
{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-image: url('user.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.usa
{
  width: 4px;
  height: 24px;
  padding: 0 40px 0px 0;
}
.usa img
{
  height: 25px;
  width: 25px;
  border-radius: 30px;
}
/* thanh tìm kiếm */
#nav
{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #efefef;
  height: 50px;
}
.nav_box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.truck, .flag {
  white-space: nowrap;
  position: relative;
  font-size: 18px;
}
.truck a:hover, .flag a:hover{
  color: #00ffea;
}
.flag
{
  left: 15px;
}

.truck::before
{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  left: -45px;
  background-image: url('truck.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.flag::before
{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: -35px;
  background-image: url('vietnam.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* nôi dung chính */
#main 
{
  display: flex;
  justify-content: center;
  background-color: #d6f0fa;
  height: 700px;
  width: 100%;
  z-index: 2;
}

#main>div
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  width: 80%;
  height: 700px;
  margin-top: 60px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #efefef;
  padding: 40px;
}
.m-1-1
{
  flex:1.5;
  margin-top: 15px;
  margin-left: 10px;
}

.Trangchu
{
  text-decoration: none;
  color: #333;
  gap: 20px;
}
.Trangchu span
{
  font-size: 15px;
}
#preview {
  width: 100%;
  max-width: 656px;
  margin:10px 0px;
}
#preview img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#silder {
  display: flex;
  flex-direction: row; 
  gap: 10px;
  max-width: 660px;  
  overflow-x: auto;    
}

.image_fure img {
  width: 100px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  flex-shrink: 0;
}
.image_fure img:hover {
    border: 2px solid #ff6600;
    transform: scale(1.05);
}
.add-1{
  position: relative;
  width: 50%;
  padding-left: 7%;
}
.add-1 hr {
    border: none;       
    height: 1px;        
    background-color:  #434242; 
    width: 100%;        
    margin: 2px ;  
}
.add-1 a{
  text-decoration: none;
  color:#434242 ;
}
.add-1::before
{
   content: "";
  position: absolute;
  width: 40px;
  height:60px;
  top: 0px;
  left: 0px;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/79f109be-7063-4656-9d58-9bb7522fb986/dh3p6jy-fb3237ed-dc48-458e-93b2-a02703e64518.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc5ZjEwOWJlLTcwNjMtNDY1Ni05ZDU4LTliYjc1MjJmYjk4NlwvZGgzcDZqeS1mYjMyMzdlZC1kYzQ4LTQ1OGUtOTNiMi1hMDI3MDNlNjQ1MTgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n-7OB0FnxhQwcTBQLWglfW1bOTwsgotm_rZyLufzEQo');
  background-repeat: no-repeat;
  background-size: cover;
}
.add-2
{
  position: relative;
  width: 60%;
  padding-left: 7%;  

}
.add-2::before
{
  content: "";
  position: absolute;
  width:20px;
  height: 20px;
  top: -5px;
  left: 15px;
  background-image: url('verified.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.add-2 div{
  font-size: 16;
  font-weight: bold;
  color: #434242;
  margin: 40px 0 0 0;
  line-height: 2px;
}
.add-2 p
{
  font-size: 13px;
  color: #434242;
  line-height: 0;
}
.m-1-2
{
  flex: 1;
  height:550px;
  padding: 20px 0 40px 0;
}
.StardewValley
{
  font-size: 28px;
  font-weight: bold;
  color: #434242;
}
.verson
{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px 0;
}
.edition
{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px 0 20px 0;
}
.cost
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 20px 0;
}
.e1{
  font-size: 16px;
  font-weight: bold;
}
.e2
{
  font-size: 14px;
  background-color: #c2b8b8;
  color: #434242;
  border-radius: 10px;
  padding: 5px;
}
.c1
{
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.heart2
{
  margin-top: 20px;
  width:40px;
  height: 40px;
}
.download
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-download
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ffea;
  height: 60px;
  width: 100%;
  border-radius: 20px;
  margin: 20px 0
}
.text-download a{
  text-decoration: none;
  font-size: 30px;
  color: white;
}
/* nội dung chính */
/* Thông tin về các tựa game top */
#more_information
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 700px;
  padding: auto;
  gap: 10px; 
}
.box_Text
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}
.information {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 60px 0 60px;
  font-size: 18px;
  text-align: justify;
  height: auto;
  line-height: 30px;
}
.picture {
  flex: 1;
  display: flex;
}

.picture img {
  max-width: 600px;
  height: 400px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 0;
}
#readMoreBtn
{
  display: flex;
  position: relative;
  color: #00ffea;
  font-size: 18px;
  width: 130px;
  border: 2px solid white;
  left: 15px;
  background-color: white;
}
#readMoreBtn::before
{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top:-6px;
  left: -25px;
  background-image: url('plus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#official_website
{
  display: flex;
  position: relative;
  background-color: #00ffea;
  color: #484848;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  width: 550px;
  height: 50px;
  border-radius: 10px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}
#official_website:hover{
  transform: scale(1.02); 
  background-color: #08d1c0;
}
/*  */
/* phần giới thiệu */
#introduct
{
  background-color: white;
  width: auto;
  height: 200px;
  line-height: 20px;
}
.structure
{
  gap:20px 0 0 80px;
}
.related_tags
{
  font-size: 30px;
  width: 16%;
  font-weight: bold;
  color: #333;
  text-align: right ;
}
.related_tags_con{
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 15px;
  width: 64.5%;
  
  
}
.related_tags_con button{
  background-color: #efefef;
  border-radius: 10px;
  border: 2px solid #efefef;
  font-size: 16px;
  width: auto;
  padding: 8px;
}
.related_tags_con button:hover
{
  color:#00ffea;
}
.caption
{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 5%;
}
.about_this_item
{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 95%;
  
}
hr {
  border: none;
  border-top: 1px solid #e0e0e0; 
  margin: 30px 0;
}
.box_1{
  font-size: 28px;
  font-weight: bold;
  color: #434242;
}
.box_2,.box_3,.box_4,.box_5,.box_6,.box_7,.box_8,.box_9,.box_10,.box_11,.box_12,.box_13
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name1,.name2,.name3,.name4,.name5,.name6,.name7,.name8,.name9,.name10,.name11,.name12,.name13
{
  flex: 1;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #434242;
  margin-bottom: 6px;
  margin-left: 50px;
}
.sub1, .sub2, .sub3, .sub4, .sub5, .sub6, .sub7, .sub8, .sub9, .sub10, .sub11, .sub12, .sub13
{
  flex: 3;
}
.sub1,.sub4{
  display: flex;
  gap: 20px;
  color: #434242;
}
.sub2-1
{
  display: flex;
}
.sub2-1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;     
  margin: 0 20px 0 0;
  gap: 10px;         
}

.sub2-1 img {
  width: 40px;   
  height: auto;
  margin-bottom: 5px;
}

.sub2-1 p {
  margin: 0;
  font-size: 18px;
  color: #434242;
  text-align: center;
}
.sub2-2 p
{
  font-size: small;
}
.sub3,.onlinePlay{
  display: flex;
  gap: 20px;
}
.caption a{
  font-size: 18px;
  color: #e60012;
  text-decoration: underline;
  text-decoration-skip-ink:none ;
}
.caption a:hover{
  color: #a10512;
  transition: color 0.3s ease;
  
}
.box_13 a:hover
{
  color: #434242;
}
.playOnline
{
  font-size: small;
  color: #434242;
}
.playOnline a
{
  font-size: small;
  color:#e60012;
}
.name1::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name2::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name3::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name4::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: -40px;
  background-image: url('name4.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name5::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name5.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name6::before
{
   content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  left: -40px;
  background-image: url('name6.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name7::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name7.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name8::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name8.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name9::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name9.png');
  background-repeat: no-repeat;
  background-size: cover;
}.name10::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name10.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name11::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name11.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.name12::before
{
   content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -40px;
  background-image: url('name12.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.box_13 a {
  font-size: initial;
  color: initial;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

.sub12
{
  display: flex;
  width: 100%;
  height: auto;
  padding-left: 7%;
}
.sub12_1
{
  position: relative;
  width: 40%;
}
.sub12_1 a{
  font-size: small;
  line-height: 20px;
}
.sub12_1 hr
{
  margin: 5px;
}
.sub12_1::before
{
  content: "";
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 90px;
  top: -10px;
  left: -80px;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/79f109be-7063-4656-9d58-9bb7522fb986/dh3p6jy-fb3237ed-dc48-458e-93b2-a02703e64518.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc5ZjEwOWJlLTcwNjMtNDY1Ni05ZDU4LTliYjc1MjJmYjk4NlwvZGgzcDZqeS1mYjMyMzdlZC1kYzQ4LTQ1OGUtOTNiMi1hMDI3MDNlNjQ1MTgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n-7OB0FnxhQwcTBQLWglfW1bOTwsgotm_rZyLufzEQo');
  background-repeat: no-repeat;
  background-size: cover;
}

.box_14 div
{
  font-size: large;
  font-weight: bold;
  color: #434242;
}
.box_14 p
{
  font-size: 16px;
  color: #434242;
  margin: 0 0 80px 0;
}
.box-15-1
{
  font-size: xx-large;
  font-weight: bold;
  color: #434242; 
  padding: 0 0 40px 0;
}
.box-15-2
{
  background-color: #00ffea;
  max-width: auto;
  height: 500px;
}
.box-15-3
{
  padding: 30px 0 0 0;
  line-height: 15px;
}
.box-15-3 p
{
  color: #434242;
  font-size: small ;
}
/*  */
#footer
{
  
}
.footer-1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ffea;
  height: 100px;
}
.footer-1-1 {
  background-color:#00ffea;         
  width: 200px;              
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.footer-1-1-1 {
  display: flex;
  border: 4px solid #ffffff;   
  border-radius: 40px;               
  color: #ffffff;             
  font-size: 30px;         
  font-weight: bold;         
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  box-shadow: 0 4px 0 #d6f0fa
}
.footer-1-1-1 a{
  color: white;
  text-decoration: none;
}
#footer-2 {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 20px; 
  margin-top: 60px;
}

.box,
.f-box {
  padding: 0 20px;
}

.box:not(:last-child),
.f-box:not(:last-child) {
  border-right: 1px solid #adadad; 
}
.f-box-1
{
  font-size: 20px;
  margin:0 0 0px 0;
}
.f-box-1 a
{
  color: #434242;
  text-decoration: none;
}
.f-box-1 a:hover {
  text-decoration: underline;
  text-decoration-color: #ac0311;
}
.f-box-2
{
  display: flex;
  flex-direction: column;
  margin: 20px 0 80px 0;
}
.f-box-2 a {
  color: #e60012;
  font-size: 18px;
  line-height: 35px;
  text-decoration: none;
  display: inline;   /* để chữ dài xuống dòng bình thường */
}

.f-box-2 a:hover {
  text-decoration: underline;
  color: #e60012;
  text-decoration-color:#e60012;

}
#footer-3
{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.f-3-b-1 img
{
  width: 35px;
  height: 35px;
  padding: 20px;
}
.f-3-b-2 img
{
  width: 70px;
  height: 120px;
  padding: 30px;
}
#f-4
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #434242;
  height: 80px;
}
.f-4-b-1
{
  font-size: small;
  color: white;
  margin-left: 10%;
}

.f-4-b-2
{
  font-size: small;
  display: flex;
  gap: 30px;
  padding: 0 20px 0 0;
}

.f-4-b-2 a
{
  text-decoration: none;
  color: white;
}
.f-4-b-2-2
{
  position: relative;
  padding: 0 0 0 20px;
}
.f-4-b-2-2::before
{
  content: "";
  position: absolute;


  width: 20px;
  height: 20px;
  top: -1.5px;
  left: -4px;
  background-image: url('usa.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.f-4-b-2-2 a:hover
{
  text-decoration: underline;
  text-decoration-color: #efefef;
}